# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary and checking files
*.py
*.php
*.php.fix
*.zip
*.tar.gz
*.b64
*.sh
*.fix
*.txt
*.bin
temp_unzip/
test_zip_expand/
*.mjs
*.log
*.lockb
*.phar
.env.production

.agent
